body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('img/new_wallpaper/desert.png');
    font-family: 'Ultra', serif;
}

canvas {
    background-color: black;
}

.d-none {
    display: none;
}

.startScreen img {
    object-fit: cover;
    width: 720px;
    height: 480px;
}

.startButton {
    position: absolute;
    top: 450px;
    right: 550px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(218, 138, 64);
    border-radius: 8px;
    border: none; 
    cursor: pointer;
}