body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('img/new_wallpaper/desert.png');
    background-repeat: no-repeat;
    background-size:100%;
    font-family: 'Ultra', serif;
    letter-spacing: 1px;
}

button {
    font-family: 'Ultra', serif;
    letter-spacing: 1px;
}

.helpSection {
    margin: 15px;
}

.helpTitle {
    font-size: 20px;
    margin-bottom: 10px;
}

canvas {
    background-color: black;
}

.d-none {
    display: none;
}

.startOverScreen img {
    object-fit: cover;
    width: 720px;
    height: 480px;
}

.menu {
    margin: 10px;
}

.button {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(218, 138, 64);
    border-radius: 8px;
    border: none; 
    cursor: pointer;
}

.button:hover {
    opacity: 0.5;
}

.back {
    position: absolute;
    top: 450px;
    right: 550px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(218, 138, 64);
    border-radius: 8px;
    border: none; 
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    margin-top: 30px;
}

.controls img {
    object-fit: cover;
    width: 40px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}